@model WebApplication2.Models.Estadio

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar 
</h1>

<h3>Deseas eliminar un estadio?</h3>

<div>
    <hr />
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Titulos</th>
                <th scope="col">Extrangeros</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @Html.DisplayFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Ciudad)

                </th>
                <th>
                    @Html.DisplayFor(model => model.Direccion)


                </th>

                <th>
                    @Html.DisplayFor(model => model.Capacidad)
                </th>

            </tr>
        </tbody>
        </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" type="button" class="btn btn-primary">Regresar</a>
    </form>
</div>
