@model WebApplication2.Models.Estadio

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Estadio</h1>

<table class="table table-hover table-bordered">
<thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Direccion</th>
        <th scope="col">Capacidad</th>
    </tr>
</thead>
<tbody>
    <tr>
        <th>
            @Html.DisplayFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayFor(model => model.Ciudad)

        </th>
        <th>
            @Html.DisplayFor(model => model.Direccion)


        </th>

        <th>
            @Html.DisplayFor(model => model.Capacidad)
        </th>

    </tr>
</tbody>
</table>



<div>
    <a type="button" class="btn btn-success"  asp-action="Editar" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" type="button" class="btn btn-primary">Regresar</a>
</div>
