@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <!--
    Botones Basicos de bootstraps tipo <a><a> Para poder redirigirme <a href="#"></a>
    a la creacion de jugador equipos y estadios 
    Divicion para tres botones en la pantalla generada con IA
    Imagenes Agregadas para cada categoria respectiva 
    -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="http://localhost:5204/Jugadores" type="button" class="btn btn-primary btn-lg">Jugadores</a>
                <img src="https://as01.epimg.net/us/imagenes/2019/10/10/reportajes/1570683486_992264_1570684189_noticiareportajes_grande.jpg" alt="Jugadores" class="imagen" />
            </div>
           
            <div class="col-md-4 text-center">
                <a href="http://localhost:5204/Equipos" type="button" class="btn btn-primary btn-lg">Equipo</a>
                <img src="https://statics.forbes.com.ec/2023/08/crop/64c913facb745__822x822.webp" alt="Jugadores" class="imagen2" />

            </div>
            <div class="col-md-3 text-end">
                <a href="http://localhost:5204/Estadios" type=" button" class="btn btn-primary btn-lg " >Estadios</a>
                <img src="https://images.adsttc.com/media/images/5f3e/5bb1/b357/6546/6300/020e/medium_jpg/6_ZHA_Xi%E2%80%99an_International_Football_Centre_Render_by_Negativ.jpg?1597922192" alt="Jugadores" class="imagen3" />


            </div>
        </div>
    </div>
  

</div>
