@model WebApplication2.Models.Equipo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Titulos</th>
            <th scope="col">Extrangeros</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                @Html.DisplayFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayFor(model => model.Ciudad)

            </th>
            <th>
                @Html.DisplayFor(model => model.Titulos)


            </th>

            <th>
                @Html.DisplayFor(model => model.Extranjeros)
            </th>

        </tr>
    </tbody>
</table>

<div>
    <a type="button" class="btn btn-secondary" asp-action="Editar" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" type="button" class="btn btn-primary">Regresar</a>
</div>
