@model WebApplication2.Models.Jugador

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Deseas eliminar a este jugador ?</h3>
<div>
    <h4>Jugador</h4>
    <hr />
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Posicion</th>
                <th scope="col">Edad</th>
                <th scope="col">Equipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @Html.DisplayFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayFor(model => model.posicion)

                </th>
                <th>
                    @Html.DisplayFor(model => model.Edad)


                </th>

                <th>
                    @Html.DisplayFor(model => model.Equipo.Id)
                </th>

            </tr>
        </tbody>
    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action ="Index" type="button" class="btn btn-primary">Regresar</a>


    </form>
</div>
