@model WebApplication2.Models.Jugador

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de jugador</h1>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Posicion</th>
            <th scope="col">Edad</th>
            <th scope="col">Equipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                @Html.DisplayFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayFor(model => model.posicion)

            </th>
            <th>
                @Html.DisplayFor(model => model.Edad)


            </th>

            <th>
                @Html.DisplayFor(model => model.Equipo.Id)
            </th>
          
        </tr>
    </tbody>
</table>





<div>
    <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" type="button" class="btn btn-primary">Regresar</a>
</div>
